* {
   padding: 0; 
  margin: 0;
}
body {
    background: linear-gradient(45deg, rgba(18, 161, 204, 0.8), rgba(200, 200, 255, 0.5));
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
h1 {
  margin-top: 30px;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Sacramento', cursive; */
  letter-spacing: 5px;
  margin-left: 60px;
}
h1 {
  animation: fadeInUp 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);  
  font-size: large;
  background-color: #68afdf;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
font-family:inherit;
  height: 50px;
}

.navbar li {
  
  padding-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
 
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar a:hover {
  color: #ffe609;
}

img {
 border:3px solid #3169b1;
  margin-top: 30px;
  display: inline-block;
  float: left;
  border-radius: 10%;
  width: 200px;
  height: 300px;
  display: flex;
  align-self: center;
}
img {
  margin-left: 50px;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 10px #817d7c;
  filter: drop-shadow(5px 5px 10px #394867);
}

.career-box {
   background-color: #AEE2FF;
  align-items: flex-end;
  margin-top: 30px;
  margin-left: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 700px;
  height: 100px;
  background-color:;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-family:'Times New Roman', Times, serif;
}
.career-box:hover {
    background-color: #5D3891;
    transition: background-color 0.3s ease-in-out;
  }

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.career-box:nth-child(1) {
  animation-delay: 0.5s;
}

.career-box:nth-child(2) {
  animation-delay: 0.4s;
}

.career-box:nth-child(3) {
  animation-delay: 0.3s;
}
.image-container {
  text-align: center;
}
h2{
    text-align: center;
    margin-top: 50px;
  
    color: #000000;
    font-family: "Lato", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    /* font-family: 'Sacramento', cursive; */
    letter-spacing: 5px;
    margin-left: 60px;
  

}
.horizontal-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }
  
  .Project-Section {
    background-color: #68afdf;
    border-radius: 10px;
    padding: 20px;
    height: 100px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .Project-Section:hover {
    background-color: #B6EAFA;
    transition: background-color 0.3s ease-in-out;
  }
  h4{
    text-align: center;
    
  }
  

  .footer {
    height: 40px;
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-content p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .social-media a {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-media a:hover {
    color: #bd168b;
  }
  
  .footer:hover {
    background-color: #4f4b85;
  }
.footer-content{
    font-family:fantasy
    font-size: 20px;
}
